.main-div{
  /* height: 100vh; */
  width: 100%;
  background: #002024;
  background: linear-gradient(90deg,rgba(0, 32, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  font-family: sans-serif;
}
.hidden{
  display: none;
}
.section-one{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 
}
.section-one h1{
color: #fff;
}
.section-one form{
  border: 2px solid #fff;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding: 10px;
}
form label{
font-size: 1rem;
color: #fff;
font-weight: 600;
}
 textarea{
  border: none;
  outline: none;
  border-radius: 5px;
  height: 5rem;
  font-size: 1.2rem;
  color: rgb(18, 17, 17);
  padding: 5px;
  resize: vertical;
  /* width: 80%; */
}
.resume-upload{
  border: none;
  outline: none;
  border-radius: 5px;
  height: 4rem;
  font-size: 1.2rem;
  color: rgb(18, 17, 17);
  font-weight: 600;
  cursor: pointer;
}
.resume-upload:hover{
background-color: rgb(56, 56, 216);
color: #fff;
}
.btn{
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  background-color: rgb(79, 144, 79);
}
.btn:hover{
  background-color: rgb(56, 216, 205);
  color: #fff;
  
  }